.dataGrid{
    background:white;
    padding:10px;
}

.dataGrid .MuiDataGrid-toolbarContainer{
    flex-direction: row-reverse;
}

.dataGrid img{
    width:32px;
    height:32px;
    border-radius: 50%;
    object-fit: cover;
}
.action{
    display:flex;
    gap:15px;

}

.action img{
    width:20px;
    height:20px;
    cursor:pointer;
}

.view{
    color:green;
}

.delete{
    color:rgb(215, 16, 16);
}
